<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : lwm2m-gateway-store
* @FileName : DeviceMapper.xml
* @Author : jhdang
* @Date : 2021-01
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.green.metering.store.mapper.MeterMapper">

    <sql id="base_where_list">
        <where>
            <if test="locationId != null and locationId != ''" >
                AND a.location_id = #{locationId}
            </if>

            <if test="channel != null and channel != ''" >
                AND a.CHANNEL = #{channel}
            </if>

            <if test="eventCd != null and eventCd != ''" >
                AND a.EVENT_CD = #{eventCd}
            </if>

            <if test="meterId != null" >
                AND a.METER_ID = #{meterId}
            </if>

            <if test="startDate != null and endDate != null" >
                AND a.READ_DT BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </sql>

    <sql id="base_where_list_event">
        <where>
            <if test="eventCd != null and eventCd != ''" >
                AND a.EVENT_CD = #{eventCd}
            </if>

            <if test="meterId != null" >
                AND a.METER_ID = #{meterId}
            </if>

            <if test="startDate != null and endDate != null" >
                AND a.EVENT_DT BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </sql>

    <sql id="order_by_list">
        <if test="order != null" >
            <foreach collection="order" item="orderby" open="order by" index="index" separator=",">
                ${orderby.sort} ${orderby.dir}
            </foreach>
        </if>
    </sql>

    <sql id="page_limit">
        <if test="page != null" >
            LIMIT #{page.offset}, #{page.limit}
        </if>
    </sql>

    <select id="getLPMeteringByMeter" resultType="lpMeteringByMeterJpo" parameterType="lpMeteringByMeterJpo">
        SELECT
            a.METER_ID as meterId
            , ifnull(date_format(a.READ_DT, '%y-%m-%d %H:%i:%s'),'') as readDt
            , a.CHANNEL as channel
            , FNC_GET_CODE_NM(a.CHANNEL) as channelNm
            , a.MESUREMENT_POINT_ID as measurementPointId
            , a.METER_SERIAL as meterSerial
            , a.CAPTURED_DIV as captureDiv
            , a.METER_VALUE as meterValue
            , a.METER_VALUE_INTERVAL as meterValueInterval
            , a.METER_STATUS as meterStatus
            , a.LP_INTERVAL as lpInterval
            , a.LOCATION_ID as locationId
            , FNC_GET_LOCATION_NM(a.LOCATION_ID) as locationNm
            , a.APT_NO as aptNo
            , b.APT_NM AS aptNm
            , DATE_FORMAT(a.mtime, '%y%m%d%H%i%s') AS mtime
            , DATE_FORMAT(a.itime, '%y%m%d%H%i%s') AS itime
            , a.DEVICE_ID AS deviceId
            , a.DEVICE_SERIAL AS deviceSerial
            , DATE_FORMAT(a.REG_DT, '%y%m%d%H%i%s') as regDt
            , DATE_FORMAT(a.UPDATE_DT, '%y%m%d%H%i%s') as updateDt
        FROM gnd_meter_value a
        LEFT OUTER JOIN gnd_apt_info b ON a.APT_NO = b.APT_NO
        <include refid="base_where_list" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="getLPMeteringByChannel" resultType="lpMeteringByChannelJpo" parameterType="lpMeteringByChannelJpo">
        SELECT
            meterId
            , readDt
            , measurementPointId
            , meterSerial
            , captureDiv
            , MAX(meterValue1) as meterValueCh1
            , MAX(meterValue2) as meterValueCh2
            , MAX(meterValue3) as meterValueCh3
            , MAX(meterValue4) as meterValueCh4
            , MAX(meterValueInterval1) as meterValueIntervalCh1
            , MAX(meterValueInterval2) as meterValueIntervalCh2
            , MAX(meterValueInterval3) as meterValueIntervalCh3
            , MAX(meterValueInterval4) as meterValueIntervalCh4
            , meterStatus
            , lpInterval
            , locationId
            , locationNm
            , aptNo
            , aptNm
            , mtime
            , itime
            , deviceId
            , deviceSerial
            , regDt
            , updateDt
        FROM(
                SELECT
                    COUNT(a.CHANNEL),
                    a.METER_ID AS meterId
                    , IFNULL(DATE_FORMAT(a.READ_DT, '%y%m%d%H%i%s'),'') AS readDt
                    , a.MESUREMENT_POINT_ID AS measurementPointId
                    , a.METER_SERIAL AS meterSerial
                    , a.CAPTURED_DIV AS captureDiv
                    , CASE WHEN CHANNEL = 'CH001' THEN a.METER_VALUE ELSE NULL END AS meterValue1
                    , CASE WHEN CHANNEL = 'CH002' THEN a.METER_VALUE ELSE NULL END AS meterValue2
                    , CASE WHEN CHANNEL = 'CH003' THEN a.METER_VALUE ELSE NULL END AS meterValue3
                    , CASE WHEN CHANNEL = 'CH004' THEN a.METER_VALUE ELSE NULL END AS meterValue4
                    , CASE WHEN CHANNEL = 'CH001' THEN a.METER_VALUE_INTERVAL ELSE NULL END AS meterValueInterval1
                    , CASE WHEN CHANNEL = 'CH002' THEN a.METER_VALUE_INTERVAL ELSE NULL END AS meterValueInterval2
                    , CASE WHEN CHANNEL = 'CH003' THEN a.METER_VALUE_INTERVAL ELSE NULL END AS meterValueInterval3
                    , CASE WHEN CHANNEL = 'CH004' THEN a.METER_VALUE_INTERVAL ELSE NULL END AS meterValueInterval4
                    , a.METER_STATUS AS meterStatus
                    , a.LP_INTERVAL AS lpInterval
                    , a.LOCATION_ID AS locationId
                    , FNC_GET_LOCATION_NM(a.LOCATION_ID) AS locationNm
                    , a.APT_NO AS aptNo
                    , b.APT_NM AS aptNm
                    , DATE_FORMAT(a.MTIME, '%y%m%d%H%i%s') AS mtime
                    , DATE_FORMAT(a.ITIME, '%y%m%d%H%i%s') AS itime
                    , a.DEVICE_ID AS deviceId
                    , a.DEVICE_SERIAL AS deviceSerial
                    , DATE_FORMAT(a.REG_DT, '%y%m%d%H%i%s') as regDt
                    , DATE_FORMAT(a.UPDATE_DT, '%y%m%d%H%i%s') as updateDt
                FROM gnd_meter_value a
                LEFT OUTER JOIN gnd_apt_info b ON a.APT_NO = b.APT_NO
                WHERE 1=1
                <if test="meterId != null" >
                    AND a.METER_ID = #{meterId}
                </if>
                <if test="startDate != null and endDate != null" >
                    AND a.READ_DT BETWEEN #{startDate} AND #{endDate}
                </if>
                GROUP BY
                    a.METER_ID
                    , IFNULL(DATE_FORMAT(a.READ_DT, '%y-%m-%d %H:%i:%s'),'')
                    , a.MESUREMENT_POINT_ID, a.METER_SERIAL, a.CAPTURED_DIV
                    , CASE WHEN CHANNEL = 'CH001' THEN a.METER_VALUE ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH002' THEN a.METER_VALUE ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH003' THEN a.METER_VALUE ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH004' THEN a.METER_VALUE ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH001' THEN a.METER_VALUE_INTERVAL ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH002' THEN a.METER_VALUE_INTERVAL ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH003' THEN a.METER_VALUE_INTERVAL ELSE NULL END
                    , CASE WHEN CHANNEL = 'CH004' THEN a.METER_VALUE_INTERVAL ELSE NULL END
                    , a.METER_STATUS, a.LP_INTERVAL, a.LOCATION_ID, FNC_GET_LOCATION_NM(a.LOCATION_ID)
                    , a.APT_NO, b.APT_NM
                    , DATE_FORMAT(a.MTIME, '%y%m%d%H%i%s')
                    , DATE_FORMAT(a.ITIME, '%y%m%d%H%i%s')
                    , a.DEVICE_ID, a.DEVICE_SERIAL
                    , DATE_FORMAT(a.REG_DT, '%y%m%d%H%i%s')
                    , DATE_FORMAT(a.UPDATE_DT, '%y%m%d%H%i%s')
                ORDER BY readDt, channel
        ) A
        GROUP BY
            meterId
            , readDt
            , measurementPointId
            , meterSerial
            , captureDiv
            , meterStatus
            , lpInterval
            , locationId
            , locationNm
            , aptNo
            , aptNm
            , mtime
            , itime
            , deviceId
            , deviceSerial
        <include refid="page_limit" />
    </select>

    <select id="getLPMeteringBilling" resultType="lpMeteringBillingJpo" parameterType="lpMeteringBillingJpo">
        SELECT
            a.meter_id
            , IFNULL(DATE_FORMAT(a.read_dt, '%y%m%d%H%i%s'),'') AS readDt
            , a.mesurement_point_id as measurementPointId
            , a.meter_serial
            , a.captured_div
            , a.direction
            , a.active_pwr_tot
            , a.apprent_pwr_tot
            , a.lead_pwr_tot
            , a.lagging_pwr_tot
            , a.pf_pwr_tot
            , a.active_pwr_rate1
            , a.apprent_pwr_rate1
            , a.lead_pwr_rate1
            , a.lagging_pwr_rate1
            , a.pf_pwr_rate1
            , a.active_pwr_rate2
            , a.apprent_pwr_rate2
            , a.lead_pwr_rate2
            , a.lagging_pwr_rate2
            , a.pf_pwr_rate2
            , a.active_pwr_rate3
            , a.apprent_pwr_rate3
            , a.lead_pwr_rate3
            , a.lagging_pwr_rate3
            , a.pf_pwr_rate3
            , a.active_pwr_rate4
            , a.apprent_pwr_rate4
            , a.lead_pwr_rate4
            , a.lagging_pwr_rate4
            , a.pf_pwr_rate4
            , DATE_FORMAT(a.mtime, '%y%m%d%H%i%s') AS mtime
            , DATE_FORMAT(a.itime, '%y%m%d%H%i%s') AS itime
            , a.device_id
            , a.device_serial
            , a.location_id
            , FNC_GET_LOCATION_NM(a.LOCATION_ID) as locationNm
            , a.apt_no
            , b.APT_NM AS aptNm
            , a.reg_dt
            , a.update_dt
        FROM gnd_meter_billing a
        LEFT OUTER JOIN gnd_apt_info b ON a.APT_NO = b.APT_NO
        <include refid="base_where_list" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="getLPMeteringMonthlyDemand" resultType="lpMeteringMonthlyDemandJpo" parameterType="lpMeteringMonthlyDemandJpo">
        SELECT
            a.meter_id
            , IFNULL(DATE_FORMAT(a.read_dt, '%y%m%d%H%i%s'),'') AS readDt
            , a.mesurement_point_id as measurementPointId
            , a.meter_serial
            , a.captured_div
            , a.active_pwr_tot
            , a.active_pwr_time
            , a.active_pwr_cum
            , a.active_pwr_rate1
            , a.active_pwr_time_rate1
            , a.active_pwr_cum_rate1
            , a.active_pwr_rate2
            , a.active_pwr_time_rate2
            , a.active_pwr_cum_rate2
            , a.active_pwr_rate3
            , a.active_pwr_time_rate3
            , a.active_pwr_cum_rate3
            , a.active_pwr_rate4
            , a.active_pwr_time_rate4
            , a.active_pwr_cum_rate4
            , a.apparent_pwr_total
            , a.apparent_pwr_time
            , a.apparent_pwr_cum
            , a.apparent_pwr_rate1
            , a.apparent_pwr_time_rate1
            , a.apparent_pwr_cum_rate1
            , a.apparent_pwr_rate2
            , a.apparent_pwr_time_rate2
            , a.apparent_pwr_cum_rate2
            , a.apparent_pwr_rate3
            , a.apparent_pwr_time_rate3
            , a.apparent_pwr_cum_rate3
            , a.apparent_pwr_rate4
            , a.apparent_pwr_time_rate4
            , a.apparent_pwr_cum_rate4
            , DATE_FORMAT(a.mtime, '%y%m%d%H%i%s') AS mtime
            , DATE_FORMAT(a.itime, '%y%m%d%H%i%s') AS itime
            , a.device_id
            , a.device_serial
            , a.location_id
            , FNC_GET_LOCATION_NM(a.location_id) as locationNm
            , a.apt_no
            , b.APT_NM AS aptNm
            , a.reg_dt
            , a.update_dt
        FROM gnd_meter_monthly_demand a
        LEFT OUTER JOIN gnd_apt_info b ON a.APT_NO = b.APT_NO
        <include refid="base_where_list" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="getLPMeteringEventLog" resultType="lpMeteringEventLogJpo" parameterType="lpMeteringEventLogJpo">
        SELECT
            DATE_FORMAT(a.EVENT_DT, '%y%m%d%H%i%s') as event_dt
            , meter_id
            , event_cd
            , meter_serial
            , event_msg
            , device_id
            , device_serial
            , location_id
            , FNC_GET_LOCATION_NM(location_id) as locationNm
            , apt_no
            , DATE_FORMAT(a.REG_DT, '%y%m%d%H%i%s') as regDt
            , DATE_FORMAT(a.UPDATE_DT, '%y%m%d%H%i%s') as updateDt
        FROM gnd_meter_event_log a
        <include refid="base_where_list_event" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="getLPMeteringChannel" resultType="lpMeteringChannelJpo" parameterType="lpMeteringChannelJpo">
        SELECT
            meter_type
            , FNC_GET_CODE_NM(meter_type) as meterTypeNm
            , channel
            , FNC_GET_CODE_NM(channel) as channelNm
            , channel_idx
            , use_yn
        FROM gnd_channel_config a
        WHERE 1=1
        <if test="meterType != null" >
            AND a.METER_TYPE = #{meterType}
        </if>
    </select>

    <select id="getMeterInfo" resultType="lpMeteringChannelJpo" parameterType="java.lang.String">
        SELECT
            meter_type
            , FNC_GET_CODE_NM(meter_type) as meterTypeNm
        FROM gnd_meter_info a
        WHERE 1=1
        <if test="meterId != null" >
            AND a.METER_ID = #{meterId}
        </if>
    </select>

</mapper>